:root{
    --primary-color:#dd1435;
    --secondary-color:#6d76f1;
    --blue-black: #0f222d;
    --light-color: rgba(255, 255, 255, 0.973);
    --font-size: 100%;
    --placeholder-color: #888587;
}


html {
    height: 100%;
    background-image: linear-gradient( var(--primary-color), var(--secondary-color));
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #0f222d;
    background-size: auto;
}

.main {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

h1 {
    text-align: center;
    color: #fff;
}

.tasks{
    background-color: var(--light-color);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    
}

input[name="title"], textarea[name="description"] {
    width: 310px;
    outline: 0;
    border: none;
    background: none;
    color: var(--placeholder-color);
    
}

.tasks{
    margin-bottom: 10px;
}

input[name="title"] {
    height: 30px;
    
    border-bottom: 2px solid #e3e6e7;
    font-size: 1rem;
    font-weight: 600;
}

textarea[name="description"] {
    font-weight: 400;
    padding: 10px;
    font-family:'Roboto', sans-serif;
    font-size: 0.8rem;

}


button {
    font-size: 1.5em;
    color:  #ffffff;
    background: none;
    outline: 0;
    padding: 1%;
    border: none;
    width: 50px;
    font-weight: bold;
}

.tasksBoard {
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    /*display: none;*/
}

ul {
    list-style: none;
}

li {
    border-bottom: 1px solid #008ECF;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 1.3em;
    color: #2f4f4f;
}

a {
    float: right;
    text-align: right;
    color: #EA0016;
    font-size: 1.2em;
    cursor: pointer;
}

.delete {
    background-color: #EA0016;
    padding: 0px 3px 0px 3px;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 500px) {
    .main {
        margin: auto;
        width: 100%;
    }
    input[type="text"] {
        width: 80%;
    }
    button {
        width: 10%;
    }
}


#add{
    background: rgb(255, 255, 255);
    color: rgb(227, 0, 98);
    font-size:40px;
    border-radius: 60%;
    position: fixed;
    top: 160px;
    left: 840px;
}

#pen, #eye{
 color: rgb(0, 132, 255);;
}