<form class="card" action="/index" method="post">
            <div class="tasks">
                <input type="text" value="{{task.title}}" name="title" placeholder="new list title" >
                <textarea type="text" name="description" placeholder="start writing" maxlength="100">{{task.description}}</textarea>
            </div>
          <button type="submit">Salvar</button>
  </form>