<div class="tasksBoard">
            <ul>
                <li></span><input type="checkbox"><label>{{tasks.title}}</label><label>{{task.description}}</label></li>
                <li></span><input type="checkbox"><label>{{tasks.title}}</label></li>
                <li></span><input type="checkbox"><label>{{tasks.title}}</label></li>
                <li></span><input type="checkbox"><label>Vue</label></li>
            </ul>
            <a id="clear">Clear</a>
  </div>
  