<div class="tasksBoard">
        <ul>
            <li></span><input type="checkbox"><label>{{task.title}}</label><label>{{task.description}}</label></li>
            <li></span><input type="checkbox"><label>{{task.description}}</label></li>
            <li></span><input type="checkbox"><label>{{task.created_at}}</label></li>
            <li></span><input type="checkbox"><label>Vue</label></li>
        </ul>
          <a id="clear">Clear</a>
          <a href="/index/{{task.id}}/edit" class="button">Editar</a>
</div>