<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include "./head.njk"%}
    </head>

    <div class="main">
      <div class="card-edit">
        <form  method="POST" action="/index?_method=PUT">
          <h1>Edit task</h1>
          <div class="tasks">
            <div>
              <input 
                type="text" 
                value="{{task.title}}" 
                name="title" 
              >
            </div>

            <div>
              <input
                type="text" 
                name="description" 
                value="{{task.description}}"
              >
            <div>

            <div class="button">   
              <div>
                <input
                    type="hidden" 
                    name="id" 
                    value="{{task.id}}"
                >
                <button class="btn-save" type="submit">Save</button>
              </div>
            </div>
        </form>

        <form action="/index?_method=DELETE" method="POST">
          <input 
            type="hidden" 
            name="id" 
            value="{{task.id}}"
          >
          <button type="submit" class="btn-delete">Delete</button>
        </form>
      </div>
    </div>
  <body>
<html>